* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body, html {
    overflow-y: hidden;
    width: 100%;
    height: 100%;
    background-color: #222222;
    font-size: 2.0vmin;
    line-height: 1.75vmin;
}

#app {
    height: 100%;
    width: 100vw;
    position: relative;
    z-index: 0;
    background-color: #D0D0D0;
    background-image: url("/images/Background.png");
    background-position: left center;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}


.hero-here {
    height:  50%;
    width:   20%;
    bottom:  2%;
    left:    65%;
    opacity: 1.0;
    transition: all 1s ease-in-out;
}

.hero-enter {
    height:  80%;
    width:   20%;

    bottom:  -80%;
    left:    105%;
    transition: all 1s ease-in-out;
    opacity: 0.0;
}

.hero-leave {
    height:  20%;
    width:   20%;

    bottom:  50%;
    left:    -10%;
    opacity: 0.0;
    transition: all 1s ease-in-out;
}

#cover {
    transition: all 5s ease-in;
}

#dialog > p {
    color: rgba(240,240,240,1);
    animation: flash 2s 1;
}

@keyframes flash {
    0% {
        color: gold;
    }
    100% {
        color: rgba(240,240,240,1);
    }
}

.hover-description {

 -webkit-transition: all 0.1s ease-in-out 0s, opacity 0.1s ease-in-out 0s, visibility 0s;
 -moz-transition: all 0.1s ease-in-out 0s, opacity 0.1s ease-in-out 0s, visibility 0s;
 -ms-transition: all 0.1s ease-in-out 0s, opacity 0.1s ease-in-out 0s, visibility 0s;
 -transition: all 0.1s ease-in-out 0s, opacity 0.1s ease-in-out 0s, visibility 0s;

  opacity: 0;
  visibility: hidden;
}

*:hover + .hover-description, *:active + .hover-description {
   opacity: 100;
   visibility: visible;
}
